html, body {
    height: 100%;
    margin: 0;
}

.grid-size {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.container {
    margin: 0px auto; 
    width: 90vw;
    height: 90vw;
    max-width: 700px; 
    max-height: 700px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    border: 2px solid black; 
}

.cell {
    box-sizing: border-box;
    aspect-ratio: 1 / 1;
    background-color: white;
    border: 0.1px solid rgba(0,0,0,0.1);
}

.cell:hover {
    background-color: black;
}